@model EvMid_09.Models.Spot

<div class="row form-group mt-2">
    <div class="col-md-10">
        @Html.DropDownListFor(x=>x.SpotId, ViewBag.Spots as SelectList,"--Select--",htmlAttributes:new{@class="form-control"})
    </div>
    <div class="col-md-2">
        <a class="btn btn-danger text-white" id="btnDeleteSpot">Delete</a>
    </div>
</div>
